@font-face {
  font-family: 'infini';
  src: url('fonts/infini-regular.eot');
  src: url('fonts/infini-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/infini-regular.woff2') format('woff2'),
         url('fonts/infini-regular.woff') format('woff'),
         url('fonts/infini-regular.ttf') format('truetype'),
         url('fonts/infini-regular.svg#ciclefina') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'infini';
  src: url('fonts/infini-bold.eot');
  src: url('fonts/infini-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/infini-bold.woff2') format('woff2'),
         url('fonts/infini-bold.woff') format('woff'),
         url('fonts/infini-bold.ttf') format('truetype'),
         url('fonts/infini-bold.svg#ciclefina') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'infini';
  src: url('fonts/infini-italic.eot');
  src: url('fonts/infini-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/infini-italic.woff2') format('woff2'),
         url('fonts/infini-italic.woff') format('woff'),
         url('fonts/infini-italic.ttf') format('truetype'),
         url('fonts/infini-italic.svg#ciclefina') format('svg');
  font-weight: normal;
  font-style: italic;
}

:root {
  --layout-padding: 20px;
  --layout-stroke-width: 4px;  
  --color-black: #333;
}

body {
	margin: 0;
	font-family: infini, Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
  line-height: 1;
  font-family: infini, Georgia, 'Times New Roman', Times, serif;
}

h1 {
	font-size: 2em;
}

h2 {
  font-size: 1.3125rem;
  font-weight: bold;  
  margin-bottom: var(--main-padding);  
}

a {
	color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 740px) {

	body {
		font-size: 18px;
	}
}